body {
	background-color: var(--dark);
}

.btn {
	color: var(--sea-foam-green); 
	border-color: var(--sea-foam-green);
	font-size: 1.5rem;
}

.card {
	background-color: var(--dark);
	border-color: var(--sea-foam-green);
	margin: 1rem;
}


.description {
	color: white;
}

.image-left {
	float: left;
	margin-right: 1rem;
}

.image-right {
	float: right;
	margin-left: 1rem;
}

h1 {
	color: var(--sea-foam-green);
	font-size: 350%;
}

h3 {
	font-size: 200%;
}

h4 {
	font-style: italic;
	text-decoration: underline;
	opacity: 80%;
}

p {
	font-size: 150%;
}

.btn-bottom {
	  padding: 0 1rem 1rem 1rem;
}